<div class="flex flex-col items-center min-h-screen py-8">
  <p class="font-bold text-xl sm:text-2xl mt-7">{{ eventName }}</p>
  <p class="mt-2">{{ eventDate }}</p>
  <p class="mt-2">{{ 'createdby' | transloco }} {{ eventAdmin }}</p>
  
  <div class="overflow-x-auto w-5/6 sm:2/3 mt-4">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">{{ 'itemName' | transloco }}</th>
          <th class="px-4 py-2 text-left w-8">{{ 'price' | transloco }}</th>
          <th class="px-4 py-2 text-left">{{ 'details' | transloco }}</th>
          <th class="px-4 py-2 text-left w-7">{{ 'link' | transloco }}</th>
          <th class="px-4 py-2 text-left">{{ 'user' | transloco }}</th>
          <th class="px-4 py-2 text-left w-5">{{ 'bought' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | keyvalue">
          <td class="border border-primary px-4 py-2">{{ item.value.name }}</td>
          <td class="border border-primary px-4 py-2">{{ item.value.price }}</td>
          <td class="border border-primary px-4 py-2">{{ item.value.note }}</td>
          <td class="border border-primary px-4 py-2">
            <a
              [href]="item.value.link"
              target="_blank"
              class="inline-block font-medium text-secondary hover:text-accent transition duration-300 ease-in-out transform hover:-translate-y-1"
            >
              {{ 'link' | transloco }}
            </a>
          </td>
          <td class="border border-primary px-4 py-2">{{ item.value.user }}</td>
          <td class="border border-primary px-4 py-2">
            <input
              class="checkbox checkbox-primary cursor-pointer"
              *ngIf="item.value.user != this.login.username"
              [checked]="item.value.bought"
              type="checkbox"
              (change)="updateBought(item.value.id, item.value.bought)"
            />
          </td>
          <td class="px-4 py-2">
            <button
              *ngIf="item.value.user == this.login.username"
              (click)="editItem(item.value.id)"
              class="btn bg-secondary hover:bg-secondary/90 font-bold mx-2 h-full"
            >
              {{ 'edit' | transloco }}
            </button>
            <button
              *ngIf="item.value.user == this.login.username"
              (click)="deleteItem(item.value.id)"
              class="btn bg-accent hover:bg-accent/90 font-bold mx-2"
            >
              {{ 'delete' | transloco }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex flex-col sm:flex-row justify-center items-center mt-8">
    <a
      *ngIf="eventAdmin == this.login.username"
      [routerLink]="['/', id, 'add-item']"
      class="btn bg-primary hover:bg-primary/90 font-bold mx-2"
    >
    {{'addItem'| transloco}}
    </a>
    <button
    *ngIf="this.login.username == eventAdmin"
      (click)="editEvent(this.id!)"
      class="btn bg-secondary hover:bg-secondary/90 font-bold mx-2"
    >
    {{'editEvent'| transloco}}
    </button>
    <button
      (click)="leaveEvent()"
      class="btn bg-accent hover:bg-accent/90 font-bold mx-2"
    >
    {{'leaveEvent'| transloco}}
    </button>
    <button
    *ngIf="this.login.username == eventAdmin"
      (click)="deleteEvent()"
      class="btn bg-base-300 hover:bg-base-200 font-bold mx-2"
    >
    {{'deleteEvent'| transloco}}
    </button>
  </div>
</div>
<button (click)="back()"     class="bg-primary hover:bg-secondary font-bold rounded-full w-12 h-12 flex items-center justify-center fixed bottom-8 left-8">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
  </svg>
</button>