<div class="min-h-screen">
  <div class="flex flex-col justify-center mx-auto px-4 py-8 w-3/4">
    <h1
      class="flex flex-col items-center mt-16 text-3xl font-bold  mb-8"
    >
      {{ "myEvents" | transloco }}
    </h1>
    <ul class="flex flex-col">
      <li
        *ngFor="let event of events"
        (click)="goToEventDetails(event.id)" 
        class="btn w-full flex flex-col cursor-pointer text-lg font-bold  mx-auto  max-w-sm rounded-lg bg-base-100 mt-4 py-4 px-8 shadow-xl"
      >
            {{ event.name }}
      </li>
    </ul>
  </div>
</div>
<button
  (click)="back()"
  class="bg-primary hover:bg-secondary font-bold rounded-full w-12 h-12 flex items-center justify-center fixed bottom-8 left-8"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M15 19l-7-7 7-7"
    />
  </svg>
</button>
