<div class="mt-16 bg-gray-100 min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold text-gray-800 mb-8">My Events</h1>
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <li *ngFor="let event of events" class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg cursor-pointer">
          <a [routerLink]="['/event', event]" class="block">
            <div class="p-4">
              <h2 class="text-lg font-bold text-gray-800">{{ event }}</h2>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  