<div
  class="flex flex-col items-center justify-center min-h-screen"
>
  <h1 class="text-5xl font-bold mb-8 ">
    {{ "welcome" | transloco }}
  </h1>
  <form
    class="form-control bg-base-100 py-8 px-10 shadow-xl rounded-lg"
    [formGroup]="loginForm"
    (ngSubmit)="attemptLogin()"
  >
    <div class="mb-4">
      <label class="block font-bold mb-2 " for="email">
        {{ "email" | transloco }}
      </label>
      <input
        id="email"
        type="email"
        formControlName="email"
        required
        class="input input-ghost w-full max-w-s bg-base-300 "
        placeholder="{{ 'emailPlaceholder' | transloco }}"
      />
      <div
        class="text-red-600 mt-2"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <div *ngIf="email?.errors?.['required']">
          {{ "emailRequired" | transloco }}
        </div>
        <div *ngIf="email?.errors?.['email']">
          {{ "emailFormat" | transloco }}
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block font-bold mb-2" for="password">
        {{ "password" | transloco }}
      </label>
      <input
        id="password"
        type="password"
        formControlName="password"
        required
        class="input input-ghost w-full max-w-s bg-base-300"
        placeholder="{{ 'passwordPlaceholder' | transloco }}"
      />
      <div
        class="text-red-600 mt-2"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <div *ngIf="password?.errors?.['required']">
          {{ "passwordRequired" | transloco }}
        </div>
      </div>
    </div>
    <div class="text-red-600 mb-2" *ngIf="logErr === true">
      {{ "loginError" | transloco }}
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="btn bg-primary hover:bg-secondary"
      >
        {{ "login" | transloco }}
      </button>
      <div class="text-sm  ml-2">
        {{ "dontHave" | transloco }}
        <a
          class="ml-1 font-semibold text-secondary hover:text-accent"
          [routerLink]="['/register']"
        >
          {{ "registerHere" | transloco }}
        </a>
      </div>
    </div>
  </form>
</div>
<button
  (click)="back()"
  class="btn bg-primary hover:bg-secondary font-bold text-3xl rounded-full w-12 h-12 flex items-center justify-center fixed bottom-8 left-8"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="3"
      d="M15 19l-7-7 7-7"
    />
  </svg>
</button>