<div class="py-8 mt-20 w-1/4 items-center m-auto">
  <form
    [formGroup]="addItemForm"
    (ngSubmit)="addItem()"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="name">
        {{'itemName'| transloco}}
      </label>
      <input
        id="name"
        type="text"
        name="name"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="price">
        {{'price'| transloco}}
      </label>
      <input
        id="price"
        type="number"
        name="price"
        formControlName="price"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="note">
        {{'details'| transloco}}
      </label>
      <input
        id="note"
        type="text"
        name="note"
        formControlName="note"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="link">
        {{'link'| transloco}}
      </label>
      <input
        id="link"
        type="text"
        name="link"
        formControlName="link"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
      {{'addItem'| transloco}}
      </button>
    </div>
  </form>
</div>
