<html data-theme="var(--data-choose-theme)">
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  <div class="overflow-hidden max-h-screen">
  <div class="navbar bg-base-200">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl " routerLink="dashboard">WishlistApp</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end mr-3">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <div class="w-10 rounded-full content-center text-3xl">
            🌍
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-36">
          <li><a class="text-xl" (click)="changeLang('sl')">🇸🇮 Slo</a></li>
          <li><a class="text-xl"(click)="changeLang('en')">🇬🇧 Eng</a></li>
        </ul>
      </div>
      <div *ngIf="login.loggedIn" class="dropdown dropdown-end mr-6">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full content-center text-3xl">
            👤
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li class="text-xl p-2 font-bold">{{login.username}}</li>
          <li><a class="text-lg" routerLink="dashboard">{{'dashboard'| transloco}}</a></li>
          <li><a class="text-lg" routerLink="events">{{'events'| transloco}}</a></li>
          <li><a class="text-lg" routerLink="create-event">{{'createEvent'| transloco}}</a></li>
          <li><a class="text-lg" (click)="logOutTry()">{{'signout'| transloco}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <select data-choose-theme class="select fixed bottom-8 right-8" >
		<option value="cupcake">🧁 Cupcake</option>
		<option value="retro">🎞️ Retro</option>
		<option value="lemonade">🍋 Lemonade</option>
    <option value="autumn">🍂 Autumn</option>
    <option value="valentine">❤️ Valentine</option>
    <option value="nord">❄️ Nord</option>
	</select>
<router-outlet></router-outlet>
</div>
</html>