<div class="flex flex-col items-center space-y-8 mt-32">
  <h2 class="text-2xl font-bold">Create a new event</h2>
  <form
    class="w-full max-w-lg bg-white rounded-lg shadow-md"
    [formGroup]="createEventForm"
    (ngSubmit)="createEvent()"
  >
    <div class="px-6 py-8 space-y-6">
      <div>
        <label for="name" class="block text-gray-700 font-medium mb-2">
          Event name
        </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          required
          class="w-full border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Enter the event name"
        />
      </div>
      <div>
        <label for="date" class="block text-gray-700 font-medium mb-2">
          Date
        </label>
        <input
          id="date"
          type="date"
          formControlName="date"
          required
          class="w-full border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Enter the event date"
        />
        <div>
          <label
            for="password"
            class="block text-gray-700 font-medium mb-2 mt-4"
          >
            Event password
          </label>
          <input
            id="password"
            [type]="show ? 'text' : 'password'"
            formControlName="password"
            required
            class="w-full border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Enter a password for other users"
          />
          <button class="border mt-2" (click)="passwordShow()">
            {{ show ? "Hide password" : "Show password" }}
          </button>
        </div>
      </div>
      <div class="flex items-center justify-end">
        <button
          [routerLink]="['/events']"
          type="submit"
          class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Create event
        </button>
      </div>
    </div>
  </form>

  <h2 class="text-2xl font-bold">Join an event</h2>
  <form
    class="w-full max-w-lg bg-white rounded-lg shadow-md"
    [formGroup]="joinEventForm"
    (ngSubmit)="joinEvent()"
  >
    <div class="px-6 py-8 space-y-6">
      <div>
        <label for="join" class="block text-gray-700 font-medium mb-2">
          Event password
        </label>
        <input
          id="join"
          formControlName="join"
          type="text"
          required
          class="w-full border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Enter the event password"
        />
      </div>
      <div class="flex items-center justify-end">
        <button
          type="submit"
          class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Join event
        </button>
      </div>
    </div>
  </form>
</div>
