<div class="flex flex-col min-h-screen items-center">
<div class="flex w-full justify-center space-x-16 mt-28">
  <!-- Join an event -->
  <div class="w-full max-w-lg rounded-lg bg-base-100 py-4 px-8 shadow-xl">
    <h2 class="px-6 py-4 text-2xl font-bold ">{{'joinEvent'| transloco}}</h2>
    <form
      class="px-6 py-4 space-y-4"
      [formGroup]="joinEventForm"
      (ngSubmit)="joinEvent()"
    >
      <!-- Event password -->
      <div>
        <label for="join" class="block  text-lg mb-2">
          {{'eventPassword'| transloco}}
        </label>
        <input
          id="join"
          formControlName="join"
          type="password"
          required
          class="input input-ghost w-full max-w-s bg-base-300 "
          placeholder="{{'eventPassPlaceholder'| transloco}}"
        />
      </div>
      <!-- Join event button -->
      <div class="flex justify-end">
        <button
          [routerLink]="['/dashboard']"
          type="submit"
          class="btn bg-primary hover:bg-secondary"
        >
        {{'joinEventButton'| transloco}}
        </button>
      </div>
    </form>
  </div>
</div>
<button
  (click)="back()"
  class="btn bg-primary hover:bg-secondary font-bold text-3xl rounded-full w-12 h-12 flex items-center justify-center fixed bottom-8 left-8"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="3"
      d="M15 19l-7-7 7-7"
    />
  </svg>
</button>
</div>