<div class="flex flex-col min-h-screen items-center">
  <p class="mt-20 text-3xl font-semibold">{{'hello'| transloco}}, {{login.username}}!</p>
  <div class="container flex flex-col sm:flex-row justify-center mt-6 sm:mt-10 space-y-4 sm:space-y-0 sm:space-x-4">
   <a [routerLink]="['/create-event']"
      class="btn w-3/4 sm:w-auto text-xl m-auto sm:m-0">
         {{'createEvent'| transloco}}
   </a>
    <a [routerLink]="['/join-event']"
       class="btn w-3/4 sm:w-auto text-xl m-auto sm:m-0">
       {{'joinEvent'| transloco}}
    </a>
    <a [routerLink]="['/events']"
       class="btn w-3/4 sm:w-auto text-xl m-auto sm:m-0">
       {{'myEvents'| transloco}}
    </a>
  </div>
</div>
