<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-5xl font-bold ">{{ 'newAccount' | transloco }}</h2>
  </div>


  <div class="mt-8">
      <form (ngSubmit)="attemptRegister()" [formGroup]="registerForm" class="form-control bg-base-100 py-8 px-10 shadow-xl rounded-lg space-y-6">
        <div>
          <label for="username" class="block font-bold ">
            {{'username'| transloco}}
          </label>
          <div class="mt-1">
            <input
              type="text"
              id="username"
              formControlName="username"
              required
              class="input input-ghost w-full max-w-s bg-base-300 "
            />
          </div>
        </div>

        <div>
          <label for="email" class="block font-bold ">
            {{'email'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="email"
              type="email"
              formControlName="email"
              required
              class="input input-ghost w-full max-w-s bg-base-300 "
            />
          </div>
        </div>

        <div>
          <label for="password" class="block font-bold ">
            {{'password'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="password"
              type="password"
              formControlName="password"
              required
              class="input input-ghost w-full max-w-s bg-base-300 "
            />
          </div>
        </div>

        <div>
          <label for="passwordCheck" class="block font-bold ">
            {{'confirmPassword'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="password-confirm"
              type="password"
              formControlName="passwordCheck"
              required
              class="input input-ghost w-full max-w-s bg-base-300 "
            />
          </div>
        </div>

        <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="email?.invalid && (email?.dirty || email?.touched) || pass"
      >
        <div *ngIf="email?.errors?.['required']">{{'emailRequired'| transloco}}</div>
        <div *ngIf="email?.errors?.['email']">{{'emailFormat'| transloco}}</div>
        <div *ngIf="pass">{{'passwordMatch'| transloco}}</div>
      </div>
      <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <div *ngIf="password?.errors?.['required']">{{'passwordRequired'| transloco}}</div>
      </div>

        <div
          *ngIf="regErr"
          class="mt-3 rounded-md shadow-sm -space-y-px p-2 bg-red-50 border border-red-400"
        >
          <p class="text-sm text-red-700">
            {{'error'| transloco}}
          </p>
        </div>

        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="btn bg-primary hover:bg-secondary"
          >
          {{'register'| transloco}}
          </button>
          <div class="text-sm ml-4 ">
            {{'already'| transloco}}
            <a
              class="ml-1 font-semibold text-secondary hover:text-accent"
              [routerLink]="['/login']"
            >
            {{'loginHere'| transloco}}
            </a>
          </div>
        </div>
      </form>
  </div>
</div>
<button (click)="back()" class="bg-primary hover:bg-secondary font-bold rounded-full w-12 h-12 flex items-center justify-center fixed bottom-8 left-8">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
  </svg>
</button>