<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-l from-purple-500 to-pink-500">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-5xl font-extrabold text-white">{{ 'newAccount' | transloco }}</h2>
  </div>


  <div class="mt-8">
    <div class="bg-white py-8 px-4 shadow rounded-lg sm:px-10">
      <form (ngSubmit)="attemptRegister()" [formGroup]="registerForm" class="space-y-6">
        <div>
          <label for="username" class="block font-bold text-gray-700">
            {{'username'| transloco}}
          </label>
          <div class="mt-1">
            <input
              type="text"
              id="username"
              formControlName="username"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="email" class="block font-bold text-gray-700">
            {{'email'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="email"
              type="email"
              formControlName="email"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="password" class="block font-bold text-gray-700">
            {{'password'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="password"
              type="password"
              formControlName="password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="passwordCheck" class="block font-bold text-gray-700">
            {{'confirmPassword'| transloco}}
          </label>
          <div class="mt-1">
            <input
              id="password-confirm"
              type="password"
              formControlName="passwordCheck"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
        </div>

        <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <div *ngIf="email?.errors?.['required']">{{'emailRequired'| transloco}}</div>
        <div *ngIf="email?.errors?.['email']">{{'emailFormat'| transloco}}</div>
      </div>
      <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <div *ngIf="password?.errors?.['required']">{{'passwordRequired'| transloco}}</div>
      </div>

        <div
          *ngIf="regErr"
          class="mt-3 rounded-md shadow-sm -space-y-px p-2 bg-red-50 border border-red-400"
        >
          <p class="text-sm text-red-700">
            {{'error'| transloco}}
          </p>
        </div>

        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
          {{'register'| transloco}}
          </button>
          <div class="text-sm ml-2">
            {{'already'| transloco}}
            <a
              class="ml-1 font-semibold text-purple-500 hover:text-purple-700"
              [routerLink]="['/login']"
            >
            {{'loginHere'| transloco}}
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
