<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <h2
      class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
    >
      Register a new account
    </h2>
    <form
      class="mt-8 space-y-6"
      [formGroup]="loginForm"
      (ngSubmit)="attemptRegister()"
    >
      <div class="-space-y-px rounded-md shadow-sm">
        <input
          id="username"
          type="text"
          formControlName="username"
          required
          class="relative block w-full rounded-t-md border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Username"
        />
        <input
          id="email-address"
          type="email"
          formControlName="email"
          required
          class="relative block w-full border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Email address"
        />
        <input
          id="password"
          type="password"
          formControlName="password"
          required
          class="relative block w-full border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Password"
        />
        <input
          id="passwordCheck"
          type="password"
          formControlName="passwordCheck"
          required
          class="relative block w-full rounded-b-md border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Re-type password"
        />
      </div>
      <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <div *ngIf="email?.errors?.['required']">The email is required</div>
        <div *ngIf="email?.errors?.['email']">The email format is not correct</div>
      </div>
      <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <div *ngIf="password?.errors?.['required']">The password is required</div>
      </div>
      <div
        class="relative block w-full rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700"
        *ngIf="regErr === true"
      >
        Something went wrong. Please try again.
      </div>
      <button
        type="submit"
        class="group relative flex w-full cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white hover:bg-indigo-500"
      >
        Register
      </button>
    </form>
    <div class="relative block text-center"> Already have an account?</div>
    <div class="relative block text-center text-blue-600 dark:text-blue-500 hover:underline cursor-pointer" [routerLink]="['/login']"> Log in here!</div>
  </div>
</div>
